<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>url fnord</title>
  </head>
  <body>
    <form action="/" method="post" accept-charset="utf-8">
      <p><input type="text" name="url" placeholder="url"></p>
      <p><input type="submit" value="Shorten →"></p>
    </form>
  </body>
</html>
