<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>url fnord</title>
  </head>
  <body>
    <p><a href="http://fnord.pw/<%= params[:hash] %>"><%= @url %></a></p>
  </body>
</html>
